:root {
    --task-border: 5px solid;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.content {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
}

.sideBar {
    width: 23%;
    height: 100%;
    background-color: #06f9f5;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-top: 5%;
}

.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #f8efe7;
}

.upContent {
    margin-bottom: 15px;
    cursor: pointer;
}

.mainContent {
    width: 77%;
    height: 100%;
    background-color: #f8efe7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskList {
    width: 95%;
    margin-top: 2%;
}

.card-body-list {
    background-color: #f5f2ee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cardRight{
    display: flex;
    flex-direction: row;
}

.cardRight *{
    margin-right: 1rem;
}




.btnAdd {
    width: 30%;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 2%;
}

.mainContent > .navBar {
    width: 100%;
    height: 10vh;
    align-items: center;
    background-color: #06f9f5;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
}

.mainContent > .navBar > div {
    color: black;
    font-size: 1.3rem;
    margin-left: 5%;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
}


.taskList {
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 5%;
    padding-right: 5%;
}
#folderList {
    width: 100%;
    height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 5%;
    padding-right: 5%;
}

#folderList > div {
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.low {
    border-left: var(--task-border) green;
}

.medium {
    border-left: var(--task-border) orange;
}

.high {
    border-left: var(--task-border) red;
}

.cardList {
    margin-bottom: 1rem;
    border-radius: 10px;
}

.card-body-list {
    background-color: #fbf6ef;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.card-body-list:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

/* Barre de défilement verticale */
.taskList::-webkit-scrollbar {
    width: 10px;
}

.taskList::-webkit-scrollbar-thumb {
    background-color: #06f9f5;
    border-radius: 6px;
}

.taskList::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.taskList::-webkit-scrollbar-thumb:horizontal {
    background-color: #ff0000;
}

/* Barre de défilement verticale */
#folderList::-webkit-scrollbar {
    width: 10px;
}

#folderList::-webkit-scrollbar-thumb {
    background-color: #f5f2ee;
    border-radius: 6px;
}

#folderList::-webkit-scrollbar-track {
    background-color: #06f9f5;
}

#folderList::-webkit-scrollbar-thumb:horizontal {
    background-color: #ff0000;
}

.icon {
    width: 40px; /* Ajustez la taille selon vos besoins */
    height: 40px; /* Ajustez la taille selon vos besoins */
    color: #d22626;
    cursor: pointer;
}

.btnAddRepertory {
    width: 50%;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

#folderInputContainer{
    width: 70%;
}